@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    outline: 0;
    font-family: 'Poppins', sans-serif;
}

body{
   min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
        red 49%,
        black 49%,
        black 51%,
        white 51%
    );
}

.quiz-btn{
    display: flex;
    margin: auto;
    /* margin-top:  50px; */

    align-items: center;
    justify-content: center;
    width: 175px;
    height: 175px;
    border-radius: 50%;
    font-size: 1.4rem;
    border: 12px solid #000;
}
 
button{
    border: 0;
    cursor: pointer;
}

.pokemon-img{
    filter:brightness(0);
    width: 300px;
    height: 300px;
}

.pokemon-img.show{
    filter: unset;
}

.quiz-container{
    display:none;
    flex-direction: column;
    width: 500px;
    height: 600px;
    padding: 50px;
    border: 12px solid #000;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.choices{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.choice,
.next-btn{
    text-transform: capitalize;
    font-size: 1rem;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 6px 8px;
    border-top-color: #555;
    box-shadow: 0 5px 15px rgba(0,0,0,.1);
    transition: all .25s ease;
    border-bottom: 6px solid #000;
}

.next-btn{
    background-color: #000;
    color: white;
}


.choice:focus,
.choice:hover {
    background-color: #000;
    color:#fff;
}


.next-btn:focus,
.next-btn:hover{
    background-color: #fff;
    color:#000;

}

.quiz-container.show{
    display: flex;
}

.results-container{
    display:none;
}

.results-container.show{
    display: flex;
    flex-direction: column;
    gap: 50px;
}


button{
    cursor: pointer;
}

button.incorrect,
button.incorrect:hover,
button.incorrect:focus{
    background-color: red;
    color:#fff;
}

button.correct,
button.correct:hover,
button.correct:focus{
    background-color: #06db06c5;
    color: #fff;
}


.lineup{

    display: none;
    flex-wrap: nowrap;
    margin: 0 auto;
    height: 200px;
    width: 600px;
    background-color: #fff;
        border: 5px solid #000;
    border-radius: 10px;
    padding: 20px 40px;


}

.lineup .pokemon-img{
    height: 100%;
    width: 100%;
}

.stats{
    height: 200px;
    width: 400px;
    margin: auto;
    display: none;
    align-items: start;
    text-align: center;
    padding-top: 40px;
    font-size: 1.1rem;
    justify-content: space-around;

}

.stats.show,
.lineup.show{
    display: flex;
}

.live-stats{
    margin-left: auto;
    display: flex;
    flex-direction: column;
    text-align: right;
}
.live-countdown{
    font-weight: 500;
}
